*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    user-select: none;;
}
.bg-img{
    background: url("bg.jpg");
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position:center;
}
.bg-img:after {
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.174);
}
.content{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100%;
    text-align:center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29,29, 0.203);

}
h1{
    font-weight: bold;
}
span{
    font-size: 12px;
}
.pass-key:valid ~show {
    display: block;
}
.pass {
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color: blue;
    text-decoration: none;
    font-family: sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
button{
    background-color:aquamarine;
    color:black;
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding:15px 15px;
    transition: transform 80ms ease-in;
    border-color:chartreuse;
}
button:hover{
    background-color: blueviolet;
}
