*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
}
.bg-img{
    background-color: rgba(63, 50, 50, 0.174);
    position: relative;
    height: 100vh;
    background-size:cover;
    background-position:center;
}
.bg-img:after {
    /* position: absolute; */
    /* content:""; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  
}
.content{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* z-index: 100%; */
    text-align:center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 grey;
}
h1{
    font-weight: bold;
    color:darkblue;
    margin: 0 0 35px 0;
    font-family: 'Times New Roman', Times, serif;
}
.social-container{
    margin: 0px 25px;
}
.social-container a{
    border: 1px solid red;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	background: #f2eee3;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: white;
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45%;
}
.field input{
    cursor: text;
    height:100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.space{
    margin-top: 16px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: bold;
    /* display: none; */
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pass-key:valid ~show {
    display:block;
}
.pass {
    text-align: right;
    margin: 30px 0;
}
.pass a{
    color: blue;
    text-decoration: none;
    font-family: sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
button{
    border-radius: 10%;
    background-color:aquamarine;
    color:black;
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding:15px 15px;
    transition: transform 80ms ease-in;
    border-color:chartreuse;
}
button:hover{
    background:blueviolet;
}

